﻿@*@model IEnumerable<Model.EF.Product>*@
@using Model.EF
@using PagedList.Mvc;
@model PagedList.PagedList<Model.EF.Product>

@{
    ViewBag.Title = "sanpham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Quản lý sản phẩm
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("sanpham", "Product", FormMethod.Get))
            {
                <div class="row form-group">
                    <div class="col-lg-12">
                        <div class="col-md-4">
                            <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" style="margin-left:-15px" />
                        </div>
                        <div class="col-md-4" style="margin-left:-32px">
                            <button type="submit" class="btn btn-success">Tìm kiếm</button>
                            <a class="btn btn-primary " href="/Admin/Products/Create">Thêm mới</a>
                        </div>
                    </div>
                </div>
            }
            @*<p>
                    @Html.ActionLink("Tạo mới", "Create")
                </p>*@
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover ">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Desription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CategoryID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().CreateDate)
                        </th>
                        <th> Option</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desription)
                            </td>
                            <td>

                                <img src="@item.Image" alt="hinh-anh" width="80" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager(Model, Page => Url.Action("sanpham", new { Page, @SearchString = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>
@*tạo phân trang*@
@*Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page = Url.Action("San Pham", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display:inline;
        }
    </style>*@
