﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html>
<head>
    <title>KAIDOSHOP-Shop thời trang</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/client/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/client/css/Bootstrap-social.css" rel="stylesheet" />
    <link href="/assets/client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/client/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/assets/client/css/jquery-ui.css" rel="stylesheet" />
    <link href="/assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/client/css/slider.css" rel="stylesheet" type="text/css" media="all" />

    @*@Styles.Render("~/bundles/core");*@ @*Nén Css, Js để tối ưa hóa đường truyền*@

    <!--Lastest compiled and minified JavaScript-->
    @*@Scripts.Render("~/bundles/jscore");*@ @*Nén Css, Js để tối ưa hóa đường truyền*@

    <script src="/assets/client/js/jquery-1.12.4.js"></script>
    <script src="/assets/client/js/jquery-ui.js"></script>
    <script src="/assets/client/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/assets/client/js/move-top.js"></script>
    <script type="text/javascript" src="/assets/client/js/easing.js"></script>
    <script type="text/javascript" src="/assets/client/js/startstop-slider.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                @{Html.RenderAction("TopMenu", "Home");}
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="/" ref="nofollow"><img src="~/assets/client/images/Logo/Logo_KaiDoShop.jpg" /></a>
                </div>
                @{Html.RenderAction("HeaderCart", "Home");}
                <script type="text/javascript">
                            function DropDown(el) {
                                this.dd = el;
                                this.initEvents();
                            }
                            DropDown.prototype = {
                                initEvents: function () {
                                    var obj = this;

                                    obj.dd.on('click', function (event) {
                                        $(this).toggleClass('active');
                                        event.stopPropagation();
                                    });
                                }
                            }

                            $(function () {

                                var dd = new DropDown($('#dd'));

                                $(document).click(function () {
                                    // all dropdowns
                                    $('.wrapper-dropdown-2').removeClass('active');
                                });

                            });

                </script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                @*them code*@
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    @{Html.RenderAction("MainMenu", "Home");}
                    <div class="search_box">
                        <form action="/tim-kiem" method="get">
                            <input type="text" id="txtKeyword" name="keyword" placeholder="Gõ từ khóa" /><input type="submit" value="">
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            @RenderSection("slide", required: false)
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        @{ Html.RenderAction("Footer", "Home");}
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    @*<script src="~/assets/client/js/Controller/baseController.js"></script>*@
    @Scripts.Render("~/bundles/controller"); @*Nén Css, Js để tối ưa hóa đường truyền*@
    @RenderSection("jsFooter", required: false);
</body>
</html>

