﻿

@model List<Model.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            @if (Model.Count > 0)
            {
                <h3>Kết quả tìm kiếm theo từ khoá: @ViewBag.Keyword</h3>
            }
            @if (Model.Count <= 0)
            {
                <h3>Không có kết quả tìm kiếm theo từ khoá:</h3>
            }


        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                var link = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@link"><img src="@item.Images" alt="" /></a>
                    <h2>@item.Name</h2>
                    <span>@item.CateName</span>
                    <div class="price-details">
                        <div class="price-number">
                            <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="/gio-hang/@item.ID">Thêm vào giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            }
        }
        <div class="clear"></div>
    </div>
</div>
