﻿
@model PagedList.IPagedList<Model.EF.Content>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách tin tức
}
@section jsFooter{

    <script src="/assets/admin/js/Controller/ContentsController.js"></script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh Sách Tin Tức
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                @using (Html.BeginForm("Index", "Content", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" style="margin-left:-15px" />
                            </div>
                            <div class="col-md-4" style="margin-left:-32px">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <a class="btn btn-primary " href="/Admin/Content/Create">Thêm mới</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Hình ảnh</th>
                                <th>Ngày đăng</th>
                                <th>Trạng thái</th>
                                <th>Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID ">
                                    <td>@item.Name</td>
                                    @*<td>@item.Image</td>*@
                                    <td> <img src="@item.Image" alt="image" width="120" /></td>
                                    <td>@item.CreateDate</td>
                                    <td><a href="" class="btn-active" data-id="@item.ID">@Html.Raw(item.Status ? "<strong>Kích hoạt</strong>" : "<strong> Khoá </strong>")</a></td>
                                    <td>
                                        <a href="/Admin/Content/Edit/@item.ID "> Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                  {
                                      Confirm = "Bạn có chắc chắn muốn xóa bản ghi này?",
                                      OnComplete = "$('row_" + @item.ID + "').remove()",
                                      HttpMethod = "Delete"
                                  })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @SearchString = @ViewBag.SearchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>